<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group1.pittapi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".Building_Info"
            android:label="@string/title_activity_building__info"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="team_1.trigger_1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PittScores"
            android:label="@string/title_activity_pitt_scores"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".BuildingTimes"
            android:label="@string/title_activity_BuildingTimes"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".Weather"
            android:label="Weather"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="team_1.trigger_2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".SportsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="team_1.trigger_4" />
            </intent-filter>
        </receiver>
    </application>

</manifest>